@model casa_emelita.Models.AppModel
@using Newtonsoft.Json
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<!-- breadcam_area_start -->
<div class="breadcam_area breadcam_bg_1 zigzag_bg_2">
    <div class="breadcam_inner">
        <div class="breadcam_text">
            <h3>Dashboard</h3>

        </div>
    </div>
</div>
<!-- breadcam_area_end -->
<!-- order_area_start -->
<div class="order_area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section_title mb-70">
                    <h3>
                        Dashboard
                    </h3>
                </div>
            </div>
        </div>
        @using (Html.BeginForm("Dashboard", "Home", FormMethod.Post, new { enctype = "multipart/form-data", @id = "PackageAddEditForm", @name = "PackageAddEditForm" }))
        {
            <div class="row">
                <div class="col-sm-4">
                    @Html.DropDownListFor(model => model.SelectedYear, new SelectList(Model.Years, "value", "text"), "Year", new { @class = "form-control", @id = "SelectedYear", @style = "width: 100% !important", @onchange = "submitForm()" })
                </div>
            </div>
        }
        <script>
            function submitForm() {
                document.getElementById("PackageAddEditForm").submit();
            }
        </script>
        <div class="row">
            <div id="monthlyReservations" style="height: 370px; width: 100%;"></div>
            <div id="packageReservations" style="height: 370px; width: 100%;"></div>
            <div id="mostOrderedMenu" style="height: 370px; width: 100%;"></div>
            <script>
            window.onload = function () {
                var ReservationsEveryMonth = @Html.Raw(JsonConvert.SerializeObject(Model.MonthlyReservations));
                var monthlyReservations = new CanvasJS.Chart("monthlyReservations", {
                    animationEnabled: true,

                    title: {
                        text: "Number of Reservations per Month"
                    },
                    axisX: {
                        interval: 1
                    },
                    axisY2: {
                        interlacedColor: "rgba(120,180,84,.2)",
                        gridColor: "rgba(120,180,84,.1)",
                        title: "Reservations",
                        interval: 1
                    },
                    data: [{
                        type: "bar",
                        name: "Reservations",
                        axisYType: "secondary",
                        color: "#40a557",
                        dataPoints: ReservationsEveryMonth
                    }]
                });
                monthlyReservations.render();

                var MostOrderedPackage = @Html.Raw(JsonConvert.SerializeObject(Model.MostOrderedPackage));
                var packageReservations = new CanvasJS.Chart("packageReservations", {
                    animationEnabled: true,

                    title: {
                        text: "Number of Reservations per Package"
                    },
                    axisX: {
                        interval: 1
                    },
                    axisY2: {
                        interlacedColor: "rgba(120,180,84,.2)",
                        gridColor: "rgba(120,180,84,.1)",
                        title: "Package Reservations",
                        interval: 1
                    },
                    data: [{
                        type: "bar",
                        name: "Reservations",
                        axisYType: "secondary",
                        color: "#40a557",
                        dataPoints: MostOrderedPackage
                    }]
                });
                packageReservations.render();

                var MostOrderedMenu = @Html.Raw(JsonConvert.SerializeObject(Model.MostOrderedMenu));
                var mostOrderedMenu = new CanvasJS.Chart("mostOrderedMenu", {
                    animationEnabled: true,

                    title: {
                        text: "Number of Orders per Menu"
                    },
                    axisX: {
                        interval: 1
                    },
                    axisY2: {
                        interlacedColor: "rgba(120,180,84,.2)",
                        gridColor: "rgba(120,180,84,.1)",
                        title: "Orders",
                        interval: 1
                    },
                    data: [{
                        type: "bar",
                        name: "Orders",
                        axisYType: "secondary",
                        color: "#40a557",
                        dataPoints: MostOrderedMenu
                    }]
                });
                mostOrderedMenu.render();
            }
            </script>
            <script src="https://cdn.canvasjs.com/canvasjs.min.js"></script>
        </div>
    </div>
</div>
