
@{
    ViewBag.Title = "GalleryofCasa";
    Layout = "~/Views/Shared/_Home.cshtml";
}

<!-- breadcam_area_start -->
<div class="breadcam_area breadcam_bg_1 zigzag_bg_2">
    <div class="breadcam_inner">
        <div class="breadcam_text">
            <h3>Our Gallery</h3>
        </div>
    </div>
</div>
<!-- breadcam_area_end -->
<!-- gallery_area_start -->
<div class="gallery_area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section_title mb-70">
                    <h3>Gallery Images</h3>
                </div>
            </div>
        </div>
        <div class="row  grid">
            <div class="col-xl-5 col-lg-5 col-md-6 grid-item">
                <div class="single_gallery long_height gallery_bg_1">
                    <a href="~/Content/Casa/image/gallery/01.jpg" class="popup-image"></a>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 grid-item">
                <div class="single_gallery mini_height gallery_bg_2">
                    <a href="~/Content/Casa/image/gallery/2.jpg" class="popup-image"></a>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 grid-item ">
                <div class="single_gallery mini_height gallery_bg_3">
                    <a href="~/Content/Casa/image/gallery/3.jpg" class="popup-image"></a>
                </div>
            </div>
            <div class="col-xl-7 col-lg-7 col-md-6 grid-item">
                <div class="single_gallery mid_height gallery_bg_25">
                    <a href="~/Content/Casa/image/gallery/25.jpg" class="popup-image"></a>
                </div>
            </div>
            <div class="col-xl-5 col-lg-5 col-md-6 grid-item">
                <div class="single_gallery large_height gallery_bg_4">
                    <a href="~/Content/Casa/image/gallery/4.jpg" class="popup-image"></a>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 grid-item">
                <div class="single_gallery mini_height gallery_bg_5">
                    <a href="~/Content/Casa/image/gallery/5.jpg" class="popup-image"></a>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 grid-item">
                <div class="single_gallery mini_height  gallery_bg_6">
                    <a href="~/Content/Casa/image/gallery/6.jpg" class="popup-image"></a>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 grid-item">
                <div class="single_gallery mini_height gallery_bg_7">
                    <a href="~/Content/Casa/image/gallery/7.jpg" class="popup-image"></a>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 grid-item">
                <div class="single_gallery mini_height gallery_bg_8">
                    <a href="~/Content/Casa/image/gallery/8.jpg" class="popup-image"></a>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 grid-item">
                <div class="single_gallery mini_height gallery_bg_9">
                    <a href="~/Content/Casa/image/gallery/9.jpg" class="popup-image"></a>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 grid-item">
                <div class="single_gallery mini_height gallery_bg_10">
                    <a href="~/Content/Casa/image/gallery/10.jpg" class="popup-image"></a>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 grid-item">
                <div class="single_gallery mini_height gallery_bg_11">
                    <a href="~/Content/Casa/image/gallery/11.jpg" class="popup-image"></a>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 grid-item">
                <div class="single_gallery mini_height gallery_bg_12">
                    <a href="~/Content/Casa/image/gallery/12.jpg" class="popup-image"></a>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 grid-item">
                <div class="single_gallery mini_height gallery_bg_13">
                    <a href="~/Content/Casa/image/gallery/13.jpg" class="popup-image"></a>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 grid-item">
                <div class="single_gallery mini_height gallery_bg_14">
                    <a href="~/Content/Casa/image/gallery/14.jpg" class="popup-image"></a>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 grid-item">
                <div class="single_gallery mini_height gallery_bg_15">
                    <a href="~/Content/Casa/image/gallery/15.jpg" class="popup-image"></a>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 grid-item">
                <div class="single_gallery mini_height gallery_bg_16">
                    <a href="~/Content/Casa/image/gallery/16.jpg" class="popup-image"></a>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 grid-item">
                <div class="single_gallery mini_height gallery_bg_17">
                    <a href="~/Content/Casa/image/gallery/17.jpg" class="popup-image"></a>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 grid-item">
                <div class="single_gallery mini_height gallery_bg_18">
                    <a href="~/Content/Casa/image/gallery/18.jpg" class="popup-image"></a>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 grid-item">
                <div class="single_gallery mini_height gallery_bg_19">
                    <a href="~/Content/Casa/image/gallery/19.jpg" class="popup-image"></a>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 grid-item">
                <div class="single_gallery mini_height gallery_bg_20">
                    <a href="~/Content/Casa/image/gallery/20.jpg" class="popup-image"></a>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 grid-item">
                <div class="single_gallery mini_height gallery_bg_21">
                    <a href="~/Content/Casa/image/gallery/21.jpg" class="popup-image"></a>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 grid-item">
                <div class="single_gallery mini_height gallery_bg_22">
                    <a href="~/Content/Casa/image/gallery/22.jpg" class="popup-image"></a>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 grid-item">
                <div class="single_gallery mini_height gallery_bg_23">
                    <a href="~/Content/Casa/image/gallery/23.jpg" class="popup-image"></a>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 grid-item">
                <div class="single_gallery mini_height gallery_bg_24">
                    <a href="~/Content/Casa/image/gallery/24.jpg" class="popup-image"></a>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 grid-item">
                <div class="single_gallery mini_height gallery_bg_26">
                    <a href="~/Content/Casa/image/gallery/26.jpg" class="popup-image"></a>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 grid-item">
                <div class="single_gallery mini_height gallery_bg_27">
                    <a href="~/Content/Casa/image/gallery/27.jpg" class="popup-image"></a>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 grid-item">
                <div class="single_gallery mini_height gallery_bg_28">
                    <a href="~/Content/Casa/image/gallery/28.jpg" class="popup-image"></a>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 grid-item">
                <div class="single_gallery mini_height gallery_bg_29">
                    <a href="~/Content/Casa/image/gallery/29.jpg" class="popup-image"></a>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 grid-item">
                <div class="single_gallery mini_height gallery_bg_30">
                    <a href="~/Content/Casa/image/gallery/30.jpg" class="popup-image"></a>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 grid-item">
                <div class="single_gallery mini_height gallery_bg_31">
                    <a href="~/Content/Casa/image/gallery/31.jpg" class="popup-image"></a>
                </div>
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-xl-12">
                <div class="load_more_button text-center">
                    <a href="#" class="load_more_btn">Load More Images</a>
                </div>
            </div>
        </div> -->
    </div>
</div>
<!-- gallery_area_end -->
