
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Home.cshtml";
}

<div class="slider_area zigzag_bg_2">
    <div class="slider_sctive owl-carousel">
        <div class="single_slider slider_img_1">
            <div class="single_slider-iner">
                <div class="slider_contant text-center">
                    <h3>
                        Food Catering <br>
                        Service.
                    </h3>
                    <p>THE CASA EMELITA MEANS TO SERVE AND SUPPORT COSTUMER AND CATERING OWNERS SINCE 1940.</p>
                </div>
            </div>
        </div>
        <div class="single_slider slider_img_1">
            <div class="single_slider-iner">
                <div class="slider_contant text-center">
                    <h3>
                        Food Catering <br>
                        Service.
                    </h3>
                    <p>THE CASA EMELITA MEANS TO SERVE AND SUPPORT COSTUMER AND CATERING OWNERS SINCE 1940.</p>
                </div>
            </div>
        </div>
        <div class="single_slider slider_img_1">
            <div class="single_slider-iner">
                <div class="slider_contant text-center">
                    <h3>
                        Food Catering <br>
                        Service.
                    </h3>
                    <p>THE CASA EMELITA MEANS TO SERVE AND SUPPORT COSTUMER AND CATERING OWNERS SINCE 1940.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- slider_area-end -->
<!-- service_area-start -->
<div class="service_area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section_title mb-60">
                    <h3>Our Services</h3>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-md-6">
                <div class="single_service">
                    <div class="service_icon">
                        <i class="flaticon-gift"></i>
                    </div>
                    <h4>Birthday Catering</h4>

                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="single_service">
                    <div class="service_icon">
                        <i class="flaticon-cake"></i>
                    </div>
                    <h4>Wedding Service</h4>

                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="single_service">
                    <div class="service_icon">
                        <i class="flaticon-dance"></i>
                    </div>
                    <h4>Party Catering</h4>

                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="single_service">
                    <div class="service_icon">
                        <i class="flaticon-calendar"></i>
                    </div>
                    <h4>Event Catering</h4>

                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="single_service">
                    <div class="service_icon">
                        <i class="flaticon-businessman"></i>
                    </div>
                    <h4>Corporate Service</h4>

                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="single_service">
                    <div class="service_icon">
                        <i class="flaticon-running-man"></i>
                    </div>
                    <h4>Catering On Demand</h4>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- service_area-end -->
<!-- video_area_start -->
<div class="video_area video_bg zigzag_bg_1 zigzag_bg_2 ">
    <div class="video_area_inner">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="video_text">
                        <div class="info">
                            <div class="info_inner">
                                <!-- <h4>Watch Video</h4> -->
                                <p>You will love our execution</p>
                            </div>
                            <!-- <div class="icon_video">
                                <a class="popup-video" href="https://www.youtube.com/watch?v=HWnXId_Zg4k"><i
                                        class="ti-control-play"></i></a>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

