
@{
    ViewBag.Title = "ServicesofCasa";
    Layout = "~/Views/Shared/_Home.cshtml";
}

<!-- breadcam_area_start -->
<div class="breadcam_area breadcam_bg_1 zigzag_bg_2">
    <div class="breadcam_inner">
        <div class="breadcam_text">
            <h3>Our Services</h3>
        </div>
    </div>
</div>
<!-- breadcam_area_end -->
<!-- service_area-start -->
<div class="service_area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section_title mb-60">
                    <h3>Our Services</h3>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-md-6">
                <div class="single_service">
                    <div class="service_icon">
                        <i class="flaticon-gift"></i>
                    </div>
                    <h4>Birthday Catering</h4>

                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="single_service">
                    <div class="service_icon">
                        <i class="flaticon-cake"></i>
                    </div>
                    <h4>Wedding Service</h4>

                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="single_service">
                    <div class="service_icon">
                        <i class="flaticon-dance"></i>
                    </div>
                    <h4>Party Catering</h4>

                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="single_service">
                    <div class="service_icon">
                        <i class="flaticon-calendar"></i>
                    </div>
                    <h4>Event Catering</h4>

                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="single_service">
                    <div class="service_icon">
                        <i class="flaticon-businessman"></i>
                    </div>
                    <h4>Corporate Service</h4>

                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="single_service">
                    <div class="service_icon">
                        <i class="flaticon-running-man"></i>
                    </div>
                    <h4>Catering On Demand</h4>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- service_area-end -->
