USE [master]
GO
/****** Object:  Database [CASAEMELITA]    Script Date: 19/09/2023 9:48:12 am ******/
CREATE DATABASE [CASAEMELITA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CASAEMELITA', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\CASAEMELITA.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CASAEMELITA_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\CASAEMELITA_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CASAEMELITA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CASAEMELITA]
GO
/****** Object:  Table [dbo].[TBL_ADMIN]    Script Date: 19/09/2023 9:48:12 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_ADMIN](
	[ADMINID] [uniqueidentifier] NOT NULL,
	[FIRSTNAME] [nvarchar](50) NOT NULL,
	[MIDDLENAME] [nvarchar](50) NULL,
	[LASTNAME] [nvarchar](50) NOT NULL,
	[USERNAME] [nvarchar](50) NOT NULL,
	[PASSWORD] [nvarchar](50) NOT NULL,
	[CREATEDDATE] [datetime] NOT NULL,
	[CREATEDBY] [nvarchar](50) NULL,
	[UPDATEDDATE] [datetime] NULL,
	[UPDATEDBY] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ADMINID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_CATEGORY]    Script Date: 19/09/2023 9:48:12 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_CATEGORY](
	[CATEGORYID] [uniqueidentifier] NOT NULL,
	[CATEGORYNAME] [nvarchar](50) NOT NULL,
	[CATEGORYDESCRIPTION] [nvarchar](max) NULL,
	[CREATEDDATE] [datetime] NOT NULL,
	[CREATEDBY] [nvarchar](50) NULL,
	[UPDATEDDATE] [datetime] NULL,
	[UPDATEDBY] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[CATEGORYID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_EVENTTYPE]    Script Date: 19/09/2023 9:48:12 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_EVENTTYPE](
	[EVENTTYPEID] [uniqueidentifier] NOT NULL,
	[EVENTNAME] [nvarchar](50) NOT NULL,
	[EVENTDESCRIPTION] [nvarchar](max) NULL,
	[CREATEDDATE] [datetime] NOT NULL,
	[CREATEDBY] [nvarchar](50) NULL,
	[UPDATEDDATE] [datetime] NULL,
	[UPDATEDBY] [nvarchar](50) NULL,
 CONSTRAINT [PK_TBL_EVENTTYPE] PRIMARY KEY CLUSTERED 
(
	[EVENTTYPEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_MENU]    Script Date: 19/09/2023 9:48:12 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_MENU](
	[MENUID] [uniqueidentifier] NOT NULL,
	[MENUNAME] [nvarchar](50) NOT NULL,
	[MENUCODE] [nvarchar](50) NOT NULL,
	[MENUIMAGE] [nvarchar](250) NOT NULL,
	[MENUCATEGORY] [uniqueidentifier] NOT NULL,
	[MENUDESCRIPTION] [nvarchar](max) NULL,
	[PRICE] [decimal](10, 2) NOT NULL,
	[CREATEDDATE] [datetime] NOT NULL,
	[CREATEDBY] [nvarchar](50) NULL,
	[UPDATEDDATE] [datetime] NULL,
	[UPDATEDBY] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MENUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_PACKAGE]    Script Date: 19/09/2023 9:48:12 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_PACKAGE](
	[PACKAGEID] [uniqueidentifier] NOT NULL,
	[PACKAGECODE] [nvarchar](50) NOT NULL,
	[PACKAGENAME] [nvarchar](50) NOT NULL,
	[EVENTTYPE] [uniqueidentifier] NOT NULL,
	[INCLUSIONS] [nvarchar](max) NULL,
	[ACCOMODATION] [int] NULL,
	[PRICE] [decimal](10, 2) NOT NULL,
	[CREATEDDATE] [datetime] NOT NULL,
	[CREATEDBY] [nvarchar](50) NULL,
	[UPDATEDDATE] [datetime] NULL,
	[UPDATEDBY] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[PACKAGEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[TBL_ADMIN] ([ADMINID], [FIRSTNAME], [MIDDLENAME], [LASTNAME], [USERNAME], [PASSWORD], [CREATEDDATE], [CREATEDBY], [UPDATEDDATE], [UPDATEDBY]) VALUES (N'0b07a14a-6864-4cbb-9e40-baa7e53de9e7', N'Administrator', NULL, N'Administrator', N'Administrator', N'1', CAST(N'2023-09-16T11:14:37.313' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[TBL_CATEGORY] ([CATEGORYID], [CATEGORYNAME], [CATEGORYDESCRIPTION], [CREATEDDATE], [CREATEDBY], [UPDATEDDATE], [UPDATEDBY]) VALUES (N'84be9017-f6d9-4ef7-80c9-0a4a7dd21f83', N'Fish', N'Fish', CAST(N'2023-09-16T18:47:50.163' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[TBL_CATEGORY] ([CATEGORYID], [CATEGORYNAME], [CATEGORYDESCRIPTION], [CREATEDDATE], [CREATEDBY], [UPDATEDDATE], [UPDATEDBY]) VALUES (N'b2a40c02-fdcd-4ffd-b039-28d5bf263e6a', N'Ala Carte', N'Ala Carte', CAST(N'2023-09-16T18:47:50.163' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[TBL_CATEGORY] ([CATEGORYID], [CATEGORYNAME], [CATEGORYDESCRIPTION], [CREATEDDATE], [CREATEDBY], [UPDATEDDATE], [UPDATEDBY]) VALUES (N'1244ac51-de57-46ce-aab3-3b0905bb6831', N'Chicken', N'Chicken', CAST(N'2023-09-16T18:47:50.163' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[TBL_EVENTTYPE] ([EVENTTYPEID], [EVENTNAME], [EVENTDESCRIPTION], [CREATEDDATE], [CREATEDBY], [UPDATEDDATE], [UPDATEDBY]) VALUES (N'0a476157-ff4a-416f-92b3-01da00157dd3', N'Birthday catering', N'Birthday catering', CAST(N'2023-09-16T18:27:09.453' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[TBL_EVENTTYPE] ([EVENTTYPEID], [EVENTNAME], [EVENTDESCRIPTION], [CREATEDDATE], [CREATEDBY], [UPDATEDDATE], [UPDATEDBY]) VALUES (N'739bcfdb-9f5a-4e12-8247-410cf79e47c1', N'Corporate service', N'Corporate service', CAST(N'2023-09-16T18:27:09.453' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[TBL_EVENTTYPE] ([EVENTTYPEID], [EVENTNAME], [EVENTDESCRIPTION], [CREATEDDATE], [CREATEDBY], [UPDATEDDATE], [UPDATEDBY]) VALUES (N'9335b565-fa4c-4460-afd7-62a563ebc005', N'Party catering', N'Party catering', CAST(N'2023-09-16T18:27:09.453' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[TBL_PACKAGE] ([PACKAGEID], [PACKAGECODE], [PACKAGENAME], [EVENTTYPE], [INCLUSIONS], [ACCOMODATION], [PRICE], [CREATEDDATE], [CREATEDBY], [UPDATEDDATE], [UPDATEDBY]) VALUES (N'319eadeb-2b93-415e-ae52-185fe98abff5', N'FB2', N'Family Platter B', N'8b9362d9-147c-44d6-be95-b1410c638b05', N'*Crispy Pata*Lumpiang Shanghai*Okra and Talong (w/ bagoong)', 5, CAST(2100.00 AS Decimal(10, 2)), CAST(N'2023-09-16T18:38:16.657' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[TBL_PACKAGE] ([PACKAGEID], [PACKAGECODE], [PACKAGENAME], [EVENTTYPE], [INCLUSIONS], [ACCOMODATION], [PRICE], [CREATEDDATE], [CREATEDBY], [UPDATEDDATE], [UPDATEDBY]) VALUES (N'373d9113-676b-4504-b442-66348ed802a4', N'FPA1', N'Family Platter A', N'8b9362d9-147c-44d6-be95-b1410c638b05', N'*Fried Lumpiang Gulay*Lechon Kawali*Chicken Wings*Pork Barbeque (5 pcs.)*Hilaw na Mangga w/ Alamang*Canton-Sotanghon Guisado*Rice*( with 1 pitcher of drinks )', 5, CAST(1950.00 AS Decimal(10, 2)), CAST(N'2023-09-16T18:38:16.657' AS DateTime), NULL, NULL, NULL)
ALTER TABLE [dbo].[TBL_ADMIN] ADD  DEFAULT (newid()) FOR [ADMINID]
GO
ALTER TABLE [dbo].[TBL_ADMIN] ADD  DEFAULT (getdate()) FOR [CREATEDDATE]
GO
ALTER TABLE [dbo].[TBL_CATEGORY] ADD  DEFAULT (newid()) FOR [CATEGORYID]
GO
ALTER TABLE [dbo].[TBL_CATEGORY] ADD  DEFAULT (getdate()) FOR [CREATEDDATE]
GO
ALTER TABLE [dbo].[TBL_EVENTTYPE] ADD  DEFAULT (newid()) FOR [EVENTTYPEID]
GO
ALTER TABLE [dbo].[TBL_EVENTTYPE] ADD  DEFAULT (getdate()) FOR [CREATEDDATE]
GO
ALTER TABLE [dbo].[TBL_MENU] ADD  DEFAULT (newid()) FOR [MENUID]
GO
ALTER TABLE [dbo].[TBL_MENU] ADD  DEFAULT (getdate()) FOR [CREATEDDATE]
GO
ALTER TABLE [dbo].[TBL_PACKAGE] ADD  DEFAULT (newid()) FOR [PACKAGEID]
GO
ALTER TABLE [dbo].[TBL_PACKAGE] ADD  DEFAULT (getdate()) FOR [CREATEDDATE]
GO
ALTER TABLE [dbo].[TBL_MENU]  WITH CHECK ADD  CONSTRAINT [FK_TBL_MENU_MENUCATEGORY] FOREIGN KEY([MENUCATEGORY])
REFERENCES [dbo].[TBL_CATEGORY] ([CATEGORYID])
GO
ALTER TABLE [dbo].[TBL_MENU] CHECK CONSTRAINT [FK_TBL_MENU_MENUCATEGORY]
GO
ALTER TABLE [dbo].[TBL_PACKAGE]  WITH CHECK ADD  CONSTRAINT [FK_TBL_PACKAGE] FOREIGN KEY([EVENTTYPE])
REFERENCES [dbo].[TBL_EVENTTYPE] ([EVENTTYPEID])
GO
ALTER TABLE [dbo].[TBL_PACKAGE] CHECK CONSTRAINT [FK_TBL_PACKAGE]
GO
USE [master]
GO
